table.weather {width:100%;border:0;padding:1px;border-spacing:1px;background-color:#eee}
tr.weather-row {background-color:#fffffe}
.weather-sprite{background:url(weather-sprite.png) no-repeat top left;display:inline-block}
.weather-sprite#na{background-position:0 0;width:25px;height:25px}
.weather-sprite#wsymbol_0001_sunny{background-position:0 -25px;width:25px;height:25px}
.weather-sprite#wsymbol_0002_sunny_intervals{background-position:0 -50px;width:25px;height:25px}
.weather-sprite#wsymbol_0003_white_cloud{background-position:0 -75px;width:25px;height:25px}
.weather-sprite#wsymbol_0004_black_low_cloud{background-position:0 -100px;width:25px;height:25px}
.weather-sprite#wsymbol_0006_mist{background-position:0 -125px;width:25px;height:25px}
.weather-sprite#wsymbol_0007_fog{background-position:0 -150px;width:25px;height:25px}
.weather-sprite#wsymbol_0008_clear_sky_night{background-position:0 -175px;width:25px;height:25px}
.weather-sprite#wsymbol_0009_light_rain_showers{background-position:0 -200px;width:25px;height:25px}
.weather-sprite#wsymbol_0010_heavy_rain_showers{background-position:0 -225px;width:25px;height:25px}
.weather-sprite#wsymbol_0011_light_snow_showers{background-position:0 -250px;width:25px;height:25px}
.weather-sprite#wsymbol_0012_heavy_snow_showers{background-position:0 -275px;width:25px;height:25px}
.weather-sprite#wsymbol_0013_sleet_showers{background-position:0 -300px;width:25px;height:25px}
.weather-sprite#wsymbol_0016_thundery_showers{background-position:0 -325px;width:25px;height:25px}
.weather-sprite#wsymbol_0017_cloudy_with_light_rain{background-position:0 -350px;width:25px;height:25px}
.weather-sprite#wsymbol_0018_cloudy_with_heavy_rain{background-position:0 -375px;width:25px;height:25px}
.weather-sprite#wsymbol_0019_cloudy_with_light_snow{background-position:0 -400px;width:25px;height:25px}
.weather-sprite#wsymbol_0020_cloudy_with_heavy_snow{background-position:0 -425px;width:25px;height:25px}
.weather-sprite#wsymbol_0021_cloudy_with_sleet{background-position:0 -450px;width:25px;height:25px}
.weather-sprite#wsymbol_0024_thunderstorms{background-position:0 -475px;width:25px;height:25px}
.weather-sprite#wsymbol_0025_light_rain_showers_night{background-position:0 -500px;width:25px;height:25px}
.weather-sprite#wsymbol_0026_heavy_rain_showers_night{background-position:0 -525px;width:25px;height:25px}
.weather-sprite#wsymbol_0027_light_snow_showers_night{background-position:0 -550px;width:25px;height:25px}
.weather-sprite#wsymbol_0028_heavy_snow_showers_night{background-position:0 -575px;width:25px;height:25px}
.weather-sprite#wsymbol_0029_sleet_showers_night{background-position:0 -600px;width:25px;height:25px}
.weather-sprite#wsymbol_0032_thundery_showers_night{background-position:0 -625px;width:25px;height:25px}
.weather-sprite#wsymbol_0033_cloudy_with_light_rain_night{background-position:0 -650px;width:25px;height:25px}
.weather-sprite#wsymbol_0034_cloudy_with_heavy_rain_night{background-position:0 -675px;width:25px;height:25px}
.weather-sprite#wsymbol_0035_cloudy_with_light_snow_night{background-position:0 -700px;width:25px;height:25px}
.weather-sprite#wsymbol_0036_cloudy_with_heavy_snow_night{background-position:0 -725px;width:25px;height:25px}
.weather-sprite#wsymbol_0037_cloudy_with_sleet_night{background-position:0 -750px;width:25px;height:25px}
.weather-sprite#wsymbol_0040_thunderstorms_night{background-position:0 -775px;width:25px;height:25px}